{% extends 'base.html' %}

{% block title %}
Index
{% endblock %}

{% block accounts %}
    {% if user.is_authenticated %}
         <span class="text-muted">Welcome!&nbsp{{user.first_name}}</span>
        <div>
            <a href="{% url 'index' %}">Home</a> |
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    {% else %}
        <span class="text-muted">Welcome!</span>
        <div>
            <a href="{% url 'login' %}">Sign in</a> |
            <a href="{% url 'register' %}"> Register</a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}

<section class="sdetail bg-secondary">
    <div class="container-fluid">

        <div class="row mt-5">
            {% for i in movies %}
            <div class="col-md-2" id="cards">
                <div class="card  bg-dark" style="width: 18rem;">
                    <a href="{{ i.get_url }}"><img class="card-img-top" src="{{MEDIA_URL}}{{i.image.url}}" height="300px" alt="Card image cap"></a>
                    <div class="card-body">
                        <center><bold><a href="{{ i.get_url }}" class="card-text text-white">{{i.movie_name}}</a></bold></center>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block account %}
	  {% if user.is_authenticated %}
			 <p><span class="me-3 text-danger">{{user.first_name}}</span> Now you are in <span class="text-success">Online</span></p>
      {% else %}
		<span class="me-3">Register for free</span>&nbsp&nbsp&nbsp&nbsp
    	<a href="{% url 'register' %}"><button type="button" class="btn btn-outline-light btn-rounded">Register</button></a>
	  {% endif %}
{% endblock %}

{% block sweet %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    {% for msg in messages %}
        swal("Sorry!", "{{msg}}");
    {% endfor %}
</script>
{% endblock %}
