{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
Movie Details
{% endblock %}

{% block accounts %}
    {% if user.is_authenticated %}
         <span class="text-muted">Welcome!&nbsp{{user.first_name}}</span>
        <div>
            <a href="{% url 'index' %}">Home</a> |
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    {% else %}
        <span class="text-muted">Welcome!</span>
        <div>
            <a href="{% url 'login' %}">Sign in</a> |
            <a href="{% url 'register' %}"> Register</a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}

<section class="mrate bg-secondary">
	<center>
		<div class="card bg-dark m-5" style="max-width:75%">
			<div class="row no-gutters">
				<div class="col-sm-4" style="background: #868e96;">
					<img src="{{MEDIA_URL}}{{movies.image.url}}" class="card-img-top h-100" alt="...">
				</div>
				<div class="col-sm-8">
					<div class="card-body text-white">
						<div class="row">
							<div class="item-option-select ml-5">
								<h2 class="card-title">{{movies.movie_name}}</h2>
								<button type="button" class="btn btn-secondary">{{movies.Genre}}</button>
							</div>
						</div>
						<p class="card-text mt-3">{{movies.description}}</p>
						<hr>
						<div class="row">
							<div class="item-option-select">
								<h6 class="text-primary ml-3"><bold class="text-white">Director</bold>&nbsp&nbsp{{movies.director}}</h6>
							</div>
						</div>
							<hr>
						<div class="row">
							<div class="item-option-select">
								<h6 class="text-primary ml-3"><bold class="text-white">Writers</bold>&nbsp&nbsp{{movies.writer}}</h6>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="item-option-select">
								<h6 class="text-primary ml-3"><bold class="text-white">Cast</bold>&nbsp&nbsp{{movies.cast}}</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
    	</div>
	</center>
	<br>
	<div class="row">
		<div class="col-md-9 ml-5 mr-5">
			<header class="section-heading">
				<h5 class="ml-5 text-white"><b>Write Your Review</b></h5>
				<span class="ml-5 text-white"><b>How Do You Rate This Movie?</b></span>
			</header>
			<form class="ml-5 text-white" method="POST" action="{% url 'user_reviews' movies.id %}">
				{% csrf_token %}
				<fieldset class="rating">
					<input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
					<input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
					<input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
					<input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Good - 3.5 stars"></label>
					<input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Good - 3 stars"></label>
					<input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Average - 2.5 stars"></label>
					<input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Average - 2 stars"></label>
					<input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Below Average - 1.5 stars"></label>
					<input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Bad - 1 star"></label>
					<input type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf" title="Bad - 0.5 stars"></label>
				</fieldset>
				 <br><div class="form-group mt-4">
					 <label for="title">Title</label>
					 <input type="text" class="form-control" name="title" id="title" required>
				 </div>
				<div class="form-group">
					 <label for="review">Review</label>
					<textarea class="form-control" name="review" id="review" required></textarea>
				 </div>
				{% if user.is_authenticated %}
					<div class="form-group">
						<br><button type="submit" class="btn btn-primary">Submit Review</button>
					</div>
				{% else %}
					<p class="text-white">You must be logged in to post a review.<span><a href="{% url 'login' %}" class="text-warning">Login Now</a></span></p>
				{% endif %}
			</form>
			{% for msg in messages %}
				<center>
					<h6 class="alert alert-success ml-5">{{msg}}</h6>
				</center>
			{% endfor %}
			<header class="section-heading">
				<br><h5 class="ml-5 text-white"><b>User Reviews</b></h5>
			</header>
			<div class="card bg-dark text-white ml-5 mt-5 mb-5">
				{% for review in userreview %}
			   <div class="card-body">
				   <b><span class="text-secondary">{{review.user.first_name}}&nbsp{{review.user.last_name}}</span></b>
				   <b><span class="float-lg-right text-secondary">{{review.updated_date}}</span></b><br><br>
				   <b><p><span>{{review.title}}</span></p></b>
				   <p><span>{{review.review}}</span></p>
				   <div class="rating-star">
					   <span>
						   <i class="fa fa-star{% if review.rating == 0.5 %}-half{% elif review.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
						   <i class="fa fa-star{% if review.rating == 1.5 %}-half{% elif review.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
						   <i class="fa fa-star{% if review.rating == 2.5 %}-half{% elif review.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
						   <i class="fa fa-star{% if review.rating == 3.5 %}-half{% elif review.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
						   <i class="fa fa-star{% if review.rating == 4.5 %}-half{% elif review.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>
					   </span>
				   </div>
			  </div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block account %}
	  {% if user.is_authenticated %}
			 <p><span class="me-3 text-danger">{{user.first_name}}</span> Now you are in <span class="text-success">Online</span></p>
      {% else %}
		<span class="me-3">Register for free</span>&nbsp&nbsp&nbsp&nbsp
    	<a href="{% url 'register' %}"><button type="button" class="btn btn-outline-light btn-rounded">Register</button></a>
	  {% endif %}
{% endblock %}