{% extends 'base.html' %}


{% block title %}
Movie Details
{% endblock %}

{% block content %}

<section class="bg-secondary">
	<center>
		<div class="card bg-dark mt-5" style="max-width:75%">
			<div class="row no-gutters">
				<div class="col-sm-4" style="background: #868e96;">
					<img src="{{MEDIA_URL}}{{movies.image.url}}" class="card-img-top h-100" alt="...">
				</div>
				<div class="col-sm-8">
					<div class="card-body text-white">
						<div class="row">
							<div class="item-option-select ml-5">
								<h2 class="card-title">{{movies.movie_name}}</h2>
								<button type="button" class="btn btn-secondary">{{movies.Genre}}</button>
							</div>
						</div>
						<p class="card-text mt-3">{{movies.description}}</p>
						<hr>
						<div class="row">
							<div class="item-option-select">
								<h6 class="text-primary ml-3"><bold class="text-white">Director</bold>&nbsp&nbsp{{movies.director}}</h6>
							</div>
						</div>
							<hr>
						<div class="row">
							<div class="item-option-select">
								<h6 class="text-primary ml-3"><bold class="text-white">Writers</bold>&nbsp&nbsp{{movies.writer}}</h6>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="item-option-select">
								<h6 class="text-primary ml-3"><bold class="text-white">Cast</bold>&nbsp&nbsp{{movies.cast}}</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
    	</div>
	</center>
	<br>
	<div class="row">
		<div class="col-md-9">
			<header class="section-heading">
				<h3>Customer Reviews </h3>
			</header>

			<article class="box mb-3">
				<div class="icontext w-100">
					<img src="./images/avatars/avatar1.jpg" class="img-xs icon rounded-circle">
					<div class="text">
						<span class="date text-muted float-md-right">24.04.2020 </span>
						<h6 class="mb-1">Mike John </h6>
					</div>
				</div>
				<div class="mt-3">
					<p>
						Dummy comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip
					</p>
				</div>
			</article>
		</div>
	</div>
</section>
{% endblock %}

{% block account %}
    <span class="me-3">Register for free</span>&nbsp&nbsp&nbsp&nbsp
    <a href="{% url 'register' %}"><button type="button" class="btn btn-outline-light btn-rounded">Register</button></a>
{% endblock %}